body {
    font-family: "poppins";
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
    background-color: #a29bfe;

}

.hero{
    padding-top: 0.7rem;
    border: 0px solid black;
    background-color: #FAF3F0;
    width: 22rem;
    padding-left: 3rem;
    margin-left: 7rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0px 1rem 1rem rgba(0, 0, 0, 0.511);
}



.microsoftlogo {
    padding-left: 8rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    margin-left: 4rem;

}

.microsoftlogo img {
    padding: 0;
    margin: 0;
    
}

.microsoftlogo p {
    padding: 0;
    margin: 0;
    margin-top: 1.3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 1.3rem;
}


/* logo section ends here */

.passwords {
    margin-top: 2rem;
}

.showpass-label{
font-size: 0.7rem;
}
.showpass-label:hover{
    cursor:pointer;
}

#showPassword1{
 padding: 0;
 margin: 0;
}

#showPassword1:hover{
    cursor: pointer;
}

#showPassword2{
    padding-left: 0;
    margin-left: 0;
}
#showPassword2:hover{
    cursor: pointer;
}
.labels {
    font-size: 0.7rem;
    font-weight: 500;
}

.labels:hover{
    cursor: pointer;
}

#remember{
    margin-left:0 ;
    padding-left: 0;
}   

#remember:hover{
    cursor: pointer;
}
.inputs {
    width: 17rem;
    border: 1px solid black;
    padding: 4px;
    border-radius: 0.2rem;
}





.savemypassword {
    margin-top: 0rem;
    margin-left: 1rem;
    font-size: 0.7rem;
    font-weight: 500;
}


.btn {
    margin-top: 2rem;
    width: 17rem;
    background-color: #1876f2d2;
    color: white;
    font-weight: 500;
    border: 0px solid black;
    border-radius: 5px;
    padding: 4px
}

.btn:hover{
    cursor:pointer;
    text-decoration: underline;
}

/* password sections ends here */

.or {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 7.2rem;
}

/* or section ends here  */

.p3 {
    margin-left: 1rem;
    font-family: "poppins";
}

.p3 span {
    color: rgba(0, 0, 255, 0.712);
    font-family: "poppins";
}

.p3 span:hover{
    cursor: pointer;
}

.div1 {
    display: flex;
    margin-top: 3rem;
    border: 1px solid black;
    width: 17rem;
    justify-content: center;
    padding: 9px;
    border-radius: 9px;
}

.div1 img{
    width: 1.2rem;
    height: 1.2rem;
    margin: 0;
    padding: 0;
}

.div1 p{
    margin: 0;
    padding: 0;
    margin-left: 0.5rem;
    
}

.div1:hover{
    cursor: pointer;
}

.div2 {
    display: flex;
    margin-top: 1rem;
    border: 0px solid black;
    width: 17rem;
    justify-content: center;
    padding: 9px;
    border-radius: 9px;
    background-color: #1876f2d2;
    
}

.div2 img{
    width: 1.2rem;
    height: 1.2rem;
    margin: 0;
    padding: 0;
    
}

.div2 p{
    margin: 0;
    padding: 0;
    margin-left: 0.5rem;
    color: #FAF3F0;
    
}
.div2:hover{
    cursor: pointer;
}
.div3 {
    display: flex;
    margin-top: 1rem;
    border: 0px solid black;
    width: 17rem;
    justify-content: center;
    padding: 9px;
    border-radius: 9px;
    background-color: black;
    color: white;
}

.div3 img{
    width: 1.2rem;
    height: 1.2rem;
    margin: 0;
    padding: 0;

}

.div3 p{
    margin: 0;
    padding: 0;
    margin-left: 0.5rem;
    color: #FAF3F0;

}
.div3:hover{
    cursor: pointer;
}
.div4 {
    display: flex;
    margin-top: 1rem;
    font-size: 0.7rem;
    padding: 9px;
    margin-left: 0.6rem;
}

.div4 img{
    width: 1.2rem;
    height: 1.2rem;
    margin: 0;
    padding: 0;
}

.div4 p{
    
    margin: 0;
    padding: 0;
    margin-left: 0.5rem;
    
}

/* acccountinfo section ends here  */

#newmsg{
    border: 0px solid black;
    font-size: 0.5rem;
    padding: 2px;
    width: 10rem;
    color: darkred;
    font-weight: 600;
    margin: 0;
    border-radius: 4px;
    background-color: #F4D160;
}

#confmsg{
    border: 0px solid black;
    font-size: 0.5rem;
    padding: 2px;
    width: 10rem;
    color: darkred;
    font-weight: 600;
    margin: 0;
    border-radius: 4px;
    background-color: #F4D160;
}

#note{
    margin: 0;
    font-size: 0.7rem;
    width: 15rem;
    border: 0rem solid black;
    background-color: #F4D160;
    border-radius: 5px;
    padding: 2px;
    font-weight: 600;
    color: darkred;
}